# URL base del backend (FastAPI). Por ejemplo: https://mi-backend-los-patos.onrender.com
# Si no se define, se usará por defecto http://localhost:8000 en desarrollo
VITE_BACKEND_URL=http://localhost:8000
